*{
	margin:0px;
	padding:0px;
}
.main_container{
	width:50%;
	margin:0 auto;
}
	
.landing_section{

	border:10px solid;
	background-color:#606060;
	margin:150px 150px;
	width:300px;
	height:400px;
	
	
}
.content{
	color:white;
	text-align:center;
	margin:25px;
	line-height:2;
}
.override p{
	text-decoration-line:line-through;
}
.buy{
	border:1px solid gray;
	background-color:#606060;
	padding:10px;
	margin:10px;
	color:white;
	width:100px;
	border-radius:5px;
}